
{%extends 'base.html'%}
{%block body_block%}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                {%if messages%}
                    {%for msg in messages%}
                        {{msg}}
                    {%endfor%}
                {%endif%}
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
        <div class="row col-4"></div>
        <div class="row col-4">
            <h3 class="text-center">Add Book</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Add</button>
                </div>
            </form>
        </div>
        <div class="col-4">
                
        </div>
    </div>
    </div>
        
{%endblock%}  
</form>
